.searchContainer {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: center;
  justify-content: center;
  font-size: 2.5em;
  border-radius: 3em;
  flex-direction: row;
  color: white;
}
.btnBuscar {
  color: #d1d0d0;
  background-color: rgb(30, 35, 82);
  border: 1px solid #585b5e;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  justify-content: center;
}
.heroCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  color: white;
}
.alert-success {
  background-color: rgba(33, 78, 48);
  text-align: center;
  border: none;
  color: white;
  font-size: 1.5em;
}
.searchResults {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #212529fd;
  width: 90vw;
  display: flex;
  border-radius: 3em;
  justify-content: center;
  flex-wrap: wrap;
}
.alertSearch {
  position: fixed;
  width: 100vw;
  top: 0;
}
.backToTeam {
  font-weight: bold;
}
.field {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
@media (max-width: 1050px) {
  .addSuperHero {
    font-size: 1em;
    text-align: center;
  }
  .searchResults {
    width: auto;
  }
}
@media (max-width: 620px) {
  .backToTeam {
    display: none;
  }
}
@media (max-width: 400px) {
  .addSuperHero {
    font-size: 0.5em;
  }
}
